@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  width: 95%;
  margin: auto;
  align-items: center;

  color-scheme: light dark;
  color: white;
  background: linear-gradient(to bottom, rgb(27, 33, 0), #0c3001);
}
